// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  padding: 5px 15px;

  .desk_case {
    padding-right: 10px;
    float: left;
  }

  .desk_label {
    padding-right: 10px;
    float: left;
  }

  .edit_label {
    float: left;
    padding-top: 35px;
  }

  .delete_label {
    padding-top: 10px;
    display: none;
  }

  .save_label {
    padding-top: 10px;
    display: none;
  }



}

.clear {
  clear: both;
}
